:root {
    --main-color: rgb(255, 147, 24);
    --alt-color: rgb(162, 216, 255);
    --background-color: rgb(150, 150, 150);
    --content-background-color: rgb(200, 200, 200);
    --text-color: black;
    --content-color: white;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-color);
    display : flex;
    flex-direction: column;
    align-items: center;
}

/*menue CSS*/
#page_content {
    display: flex;
    background-color: var(--content-background-color);
    max-width: 800px;
    padding: 0px 5px 0;
    justify-self: center;
    transition: padding .2s ease-in-out;
}

#navbar {
    background-color: var(--content-color);
    box-shadow: 0 3px 0 0 var(--main-color);
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 45px;
    width: 100%;
    max-width: 800px;
    z-index: 1;
    transition: top .2s ease-in-out;
}

#navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
}

#navbar a:hover {
    background-color: var(--alt-color);
}

#navbar .current_link {
    background-color: var(--content-background-color);
}

#menu {
    display: flex;
    width: 100%;
    overflow: hidden;
}

#menu a {
    margin-left: auto;
    overflow: hidden;
}

#logo {
    max-width: 150px;
}


/*content CSS*/
main, #articles, #sidebar {
    display: flex;
}

#read_area {
    background-color: var(--content-background-color);
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

#articles {
    background-color: var(--content-background-color);
    flex-direction: column;
    overflow: hidden;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
}

.news_container {
    background-color: var(--content-color);
    margin: 2px 0 0 0;
    max-width: 100%;
    height: auto;
}

.news_container>h1,h2,p {
    margin: 0 20px;
    padding-bottom: 10px;
}

.news_container img {
    max-width: 100%;
    height: auto;
}

.more {
    display: flex;
    justify-self: right;
    text-decoration: none;
    color: var(--text-color);
    margin-right: 30px;
    padding-bottom: 10px;
}

.more:hover {
    text-decoration: underline;
}

#ingress {
    font-size: 2rem;
}

#writer {
    justify-self: right;
}

#page_title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 0;
    padding-top: 10px;
}

#sidebar {
    align-items: center;
    background-color: var(--content-color);
    flex-direction: column;
    padding: 10px 0;
    margin-left: 2px;
    overflow: hidden;
    min-width: 25%;
}

#sidebar>h3 {
    align-self: center;
    margin: 10px 10px 0 10px;
}

#sidebar>a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 10px 10px 0 10px;
    align-self: flex-start;
}

#sidebar>a:hover {
    text-decoration: underline;
}

/*footer CSS*/
footer {
    background-color: var(--alt-color); /* display area */
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 50vh 0 50vh var(--alt-color); /* fill rest of the page */
}

#social_links {
    display: flex;
    width: 100%;
}

#copyright {
    display: flex;
    justify-content: right;
}

.icon {
    margin-left: auto;
    margin-right: auto;
}

.icon:hover svg{
    fill-opacity: 50%;
}

svg {
    max-width: 50px;
}

@media screen and (max-width: 600px) {
    #page_content {
        align-self: flex-start;
    }
    #navbar {
        flex-wrap: wrap;
        justify-self: anchor-center;
    }

    #navbar a {
        padding: 5px 0 5px 0;
    }

    #menu {
            flex-wrap: wrap;
    }

    #logo {
        max-width: 100%;
    }
}